body {
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#calculatorBody {
    display: flex;
    flex-direction: column;
    background: #222831;
    width: 500px;
    height: 750px;
}

#inputNumber {
    background: #222831;
    flex: 1;
    width: auto;
}

#elements {
    display: flex;
    background: #f2f2f2;
    width: auto;
    flex: 3;
}

#numbers {
    background: #f2f2f2;
    flex: 3;
    height: auto;
}

#operators {
    background: #f96d00;
    flex: 1;
    height: auto;
}

.number, #delete, #comma {
    font-size: 20px;
    border: solid 1px #d6d5d5;
    width: 125px;
    height: 150px;
}

#divide, 
#add, 
#substruct, 
#multiply, 
#equal {
    width: 125px;
    height: 120px;
    font-size: 30px;
    background-color: #f96d00;
    border: solid 1px #db6001;
}